# This does not cover all the code in edx-platform but it's a good start.

# Core
common/djangoapps/student/
common/djangoapps/student/models/__init__.py
common/djangoapps/student/models/course_enrollment.py
common/djangoapps/third_party_auth/
lms/djangoapps/course_api/blocks
lms/djangoapps/courseware/
lms/djangoapps/grades/
lms/djangoapps/instructor/
lms/djangoapps/instructor_task/
lms/djangoapps/mobile_api/
openedx/core/djangoapps/commerce/
openedx/core/djangoapps/credentials
openedx/core/djangoapps/credit
openedx/core/djangoapps/enrollments/
openedx/core/djangoapps/heartbeat/
openedx/core/djangoapps/oauth_dispatch
openedx/core/djangoapps/user_api/
openedx/core/djangoapps/user_authn/
openedx/core/djangoapps/verified_track_content/
openedx/features/course_experience/
# The Aximprovements team is working on extracting all built-in XBlocks
# to the external repository (xblocks-contrib). They need to be notified
# about any changes within xmodule to stay aligned with this effort.
# Ticket: https://github.com/openedx/edx-platform/issues/34827
xmodule/                                                            @farhan @irtazaakram @salman2013

# Core Extensions
lms/djangoapps/discussion/
lms/djangoapps/edxnotes

# Analytics
common/djangoapps/track/

# Credentials
lms/djangoapps/certificates/

# Discovery
common/djangoapps/course_modes/
common/djangoapps/enrollment/
common/djangoapps/entitlements/
lms/djangoapps/branding/
lms/djangoapps/commerce/
lms/djangoapps/experiments/
lms/djangoapps/gating/
lms/djangoapps/learner_dashboard/
lms/djangoapps/learner_home/
openedx/features/content_type_gating/
openedx/features/course_duration_limits/
openedx/features/discounts/

# Ping Axim On-call if someone uses the QuickStart
# https://docs.openedx.org/en/latest/developers/quickstarts/first_openedx_pr.html
lms/templates/dashboard.html                                         @openedx/axim-oncall

# Ensure minimal.yml stays minimal, this could be a team in the future
# but it's just me for now, others can sign up if they care as well.
lms/envs/minimal.yml                                                 @feanil

# Ensure that un-necessary changes don't happen to the settings files as we're cleaning them up.
lms/envs/production.py                                               @feanil @kdmccormick
cms/envs/production.py                                               @feanil @kdmccormick

# Review GitHub Actions workflow changes (incl. Dependabot PRs).
# Replaces the deprecated `reviewers:` key in dependabot.yml.
/.github/workflows/                                                  @openedx/wg-maintenance-openedx-platform-oncall
