# .coveragerc for openedx/core/lib
[run]
data_file = reports/openedx/core/lib/.coverage
source = openedx/core/lib
parallel = true

[report]
ignore_errors = True

[html]
title = openedx/core/lib Python Test Coverage Report
directory = reports/openedx/core/lib/cover

[xml]
output = reports/openedx/core/lib/coverage.xml
